{
  "$schema": "https://github.com/fastfetch-cli/fastfetch/raw/dev/doc/json_schema.json",
  "logo": "~/.config/fastfetch/relaxed.ascii",
  "modules": [
    "title",
    "separator",
    "os",
    "host",
    "kernel",
    "uptime",
    "battery",

    "break",

    "packages",
    "shell",
    "terminal",
    "terminalfont",
    "display",

    "break",

    "cpu",
    "gpu",
    "memory",
    "swap",
    "disk",
    
    {{ if not (or (eq .chezmoi.hostname "hatch") (eq .chezmoi.hostname "hdd")) -}}
    "break",
    
    "de",
    "wm",
    "theme",
    "icons",
    "font",

    {{ end -}}
    "break",
    
    "localip",
    {
      "key": "IPv4 Address",
      "type": "publicip",
      "ipv6": false
    },
    {
      "key": "IPv6 Address",
      "type": "publicip",
      "ipv6": true
    }
  ]
}
